<div class="text">
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    <br>
    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
    ea commodo consequat.
    <br>
    Duis aute irure dolor in reprehenderit in voluptate 
    velit esse cillum dolore eu fugiat nulla pariatur.
    <br>
    Excepteur sint occaecat 
    cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est 
    laborum.
</p>
</div>

    <section class="placeholder">
      <div class="placeholder__info">
        <p class="placeholder__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
        <br>
        Duis aute irure dolor in reprehenderit in voluptate 
        velit esse cillum dolore eu fugiat nulla pariatur.
        <br>
        </p>
          <img class="placeholder__image" src="../../../assets/images/placeholder-1.jpg" alt="placeholder">
        </div>
    </section>

    <div class="cards">
        <mat-card class="cards__card">
            <mat-card-title class="cards__title">Teste</mat-card-title> 
            <mat-card-subtitle class="cards__subtitle">2</mat-card-subtitle>
            <img mat-card-image class="cards__image" src="../../../assets/images/trophy.png" alt="Placeholder">
            <mat-card-content class="cards__content">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit
            </mat-card-content>
        </mat-card>

        <mat-card class="cards__card">
            <mat-card-title class="cards__title">Teste</mat-card-title> 
            <mat-card-subtitle class="cards__subtitle">2</mat-card-subtitle>
            <img mat-card-image class="cards__image" src="../../../assets/images/computer.png" alt="Placeholder">
            <mat-card-content class="cards__content">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit
            </mat-card-content>
        </mat-card>

        <mat-card class="cards__card">
            <mat-card-title class="cards__title">Teste</mat-card-title> 
            <mat-card-subtitle class="cards__subtitle">3</mat-card-subtitle>
            <img mat-card-image class="cards__image" src="../../../assets/images/quality.png" alt="Placeholder">
            <mat-card-content class="cards__content">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit
            </mat-card-content>
        </mat-card>
    </div>

<div class="button">
    <button mat-button (click)="scroll()" routerLink="../nossas-pessoas" class="button-saibamais">Conheça Nossas Pessoas!</button>
</div>