<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    <br>
    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
    ea commodo consequat.
    <br>
    Duis aute irure dolor in reprehenderit in voluptate 
    velit esse cillum dolore eu fugiat nulla pariaur.
</p>

<mat-toolbar class="header">
    <p>Lorem Ipsum</p>
</mat-toolbar>

<section class="cards">
    <div id="cards" class="cards__vagas">
        <mat-card class="cards__card">
            <mat-card-title>Lorem Ipsum</mat-card-title>
            <mat-card-subtitle>aaaaaaaaaaaaaa</mat-card-subtitle>
            <mat-card-content>
                <img class="cards__image" src="../../../assets/images/stock.webp">
                ola! bla wbla bla bla bla bla
            </mat-card-content>
            <mat-card-actions>
                <button mat-button class="button-saibamais">
                    Saiba mais
                </button>
            </mat-card-actions>
        </mat-card>
    </div>
</section>